Flask>=2.0
Flask_SQLAlchemy>=2.5
Werkzeug>=2.0
PyJWT>=2.1
requests>=2.25
python-dotenv>=0.19 
google-auth>=2.0
google-auth-oauthlib>=1.0
google-auth-httplib2>=0.1
google-api-python-client>=2.0
gdown>=4.0