<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Portal</title>
    <link rel="stylesheet" href="/static/css/register.css">
</head>
<body>
    <div class="container1">
        <h1>Welcome to Education Portal</h1>
        <div class="button-container">
            <button onclick="window.location.href='/register/teacher'" class="btn teacher-btn">
                Teacher Registration
            </button>
            <button onclick="window.location.href='/register/student'" class="btn student-btn">
                Student Registration
            </button>
        </div>
    </div>
    <script src="/static/css/new.css"></script>
</body>
</html> 